--- Day 9: Smoke Basin ---
These caves seem to be lava tubes. Parts are even still volcanically active; small hydrothermal vents release smoke into the caves that slowly settles like rain.

If you can model how the smoke flows through the caves, you might be able to avoid it and be that much safer. The submarine generates a heightmap of the floor of the nearby caves for you (your puzzle input).

Smoke flows to the lowest point of the area it's in. For example, consider the following heightmap:

2199943210
3987894921
9856789892
8767896789
9899965678
Each number corresponds to the height of a particular location, where 9 is the highest and 0 is the lowest a location can be.

Your first goal is to find the low points - the locations that are lower than any of its adjacent locations. Most locations have four adjacent locations (up, down, left, and right); locations on the edge or corner of the map have three or two adjacent locations, respectively. (Diagonal locations do not count as adjacent.)

In the above example, there are four low points, all highlighted: two are in the first row (a 1 and a 0), one is in the third row (a 5), and one is in the bottom row (also a 5). All other locations on the heightmap have some lower adjacent location, and so are not low points.

The risk level of a low point is 1 plus its height. In the above example, the risk levels of the low points are 2, 1, 6, and 6. The sum of the risk levels of all low points in the heightmap is therefore 15.

Find all of the low points on your heightmap. What is the sum of the risk levels of all low points on your heightmap?

In [216]:
import pandas as pd
import itertools

df1 = pd.read_csv('9.txt', names = ['Input'], header=None)
df1.head()

                                               Input
0  7988912498775677899976544676789212346793989896...
1  6777924987654686789987632345678954569894978789...
2  5456896987823545569876543566789995778999765678...
3  4345699876710123499987994677897989989998754567...
4  2235689765324648578999789989976768999987643678...

In [217]:
for i in range(len(str(df1['Input'].max()))):
    df1[i] = df1['Input'].astype(str).str[i]
df1.drop(labels = 'Input', axis = 1, inplace = True)
df1 = df1.astype(int)
df1.head()

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,7,9,8,8,9,1,2,4,9,8,...,7,8,9,8,7,5,6,7,5,7
1,6,7,7,7,9,2,4,9,8,7,...,8,9,8,7,5,4,1,2,4,6
2,5,4,5,6,8,9,6,9,8,7,...,7,9,8,7,6,2,0,1,3,4
3,4,3,4,5,6,9,9,8,7,6,...,8,9,9,8,3,2,1,3,4,5
4,2,2,3,5,6,8,9,7,6,5,...,9,8,7,6,5,4,3,4,5,9

In [218]:
#Adding dummy rows and columns on the edges to avoid errors while checking the edges of the area.
df1.loc[-1] = 9  # adding a row
df1.index = df1.index + 1  # shifting index
df1 = df1.sort_index()  # sorting by index
df1.loc[max(df1.index) +1 ] = 9
df1.columns = df1.columns + 1
df1[0] = 9
df1[max(df1.columns) + 1] = 9
df1 = df1.reindex(sorted(df1.columns), axis=1)
df1

,0,1,2,3,4,5,6,7,8,9,...,92,93,94,95,96,97,98,99,100,101
0,9,9,9,9,9,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
1,9,7,9,8,8,9,1,2,4,9,...,8,9,8,7,5,6,7,5,7,9
2,9,6,7,7,7,9,2,4,9,8,...,9,8,7,5,4,1,2,4,6,9
3,9,5,4,5,6,8,9,6,9,8,...,9,8,7,6,2,0,1,3,4,9
4,9,4,3,4,5,6,9,9,8,7,...,9,9,8,3,2,1,3,4,5,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97,9,6,9,9,6,5,6,9,9,7,...,8,7,2,9,7,5,4,9,8,9
98,9,4,9,8,7,6,9,8,7,6,...,9,8,9,8,5,4,3,2,9,9
99,9,3,4,9,8,9,8,7,6,5,...,4,9,8,7,5,4,3,1,2,9
100,9,2,1,0,9,9,9,8,7,6,...,3,4,9,9,6,2,1,0,1,9
101,9,9,9,9,9,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9

In [136]:
x = 0
for col in range(1, max(df1.columns)):
    for row in range(1, max(df1.index)):  
        if df1[col][row] < min(df1[col-1][row], df1[col+1][row], df1[col][row-1], df1[col][row+1]):
                x += df1[col][row] + 1
print('Answer: ', x)

Answer:  496

--- Part Two ---
Next, you need to find the largest basins so you know what areas are most important to avoid.

A basin is all locations that eventually flow downward to a single low point. Therefore, every low point has a basin, although some basins are very small. Locations of height 9 do not count as being in any basin, and all other locations will always be part of exactly one basin.

The size of a basin is the number of locations within the basin, including the low point. The example above has four basins.

The top-left basin, size 3:

2199943210
3987894921
9856789892
8767896789
9899965678
The top-right basin, size 9:

2199943210
3987894921
9856789892
8767896789
9899965678
The middle basin, size 14:

2199943210
3987894921
9856789892
8767896789
9899965678
The bottom-right basin, size 9:

2199943210
3987894921
9856789892
8767896789
9899965678
Find the three largest basins and multiply their sizes together. In the above example, this is 9 * 14 * 9 = 1134.

What do you get if you multiply together the sizes of the three largest basins?

In [219]:
#low_points - list of low points that will be used as a starting point for basins' size check
low_points = []
for col in range(1, max(df1.columns)):
    for row in range(1, max(df1.index)):  
        if df1[col][row] < min(df1[col-1][row], df1[col+1][row], df1[col][row-1], df1[col][row+1]):
                low_points.append([col, row])

In [230]:
#basin_sizes - list storing sizes of all already checked basins
#basin_curr - list of coordinates of the basin that is currently being examined
#basin_checked - list of coordinates that have been already checked if the adjacent locations are part of this basin
#x, y - temp variables to store horizontal and vertical position of the location
#hor, ver - offset for checking adjacent locations
#i - supporting variable

basin_sizes = []
for lp in low_points:    
    basin_curr = [lp]
    basin_checked = []
    i = 0
    while len(basin_checked) != len(basin_curr):
        x = basin_curr[i][0]
        y = basin_curr[i][1]
        for hor, ver in ([0,-1], [0, 1], [-1, 0], [1,0]):
            if df1[x+hor][y+ver] != 9 and [x+hor, y+ver] not in basin_curr:
                basin_curr.append([x+hor, y+ver])
        basin_checked.append([x,y])
        i += 1
    basin_sizes.append(len(basin_curr))
basin_sizes.sort()
print('Anwer: ', basin_sizes[-1]*basin_sizes[-2]*basin_sizes[-3])

Anwer:  902880